<div class="container">
  <% @flats.each do |flat| %>
    <%= flat.name %>
    <%= flat.address %>
    <%= flat.description %>
    <%= flat.price_per_night %>
    <%= flat.number_of_guests  %>

    <div>
      <%= link_to 'More info', flat_path(flat) %>
      <%= link_to 'Edit', edit_flat_path(flat) %>
      <%= link_to "Remove", flat_path(flat),
          method: :delete,
          data: { confirm: "Are you sure?" }%>
    </div>

  <% end %>
</div>


